# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
env/
venv/
ENV/

# Frontend
node_modules/
src/frontend/build/

# Datasets (будут в IPFS)
datasets/*

# PyCharm
.idea/

# Tests and caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
